APP_NAME=cinis
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://cinis.tommykeyapp.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=null

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

# DynamoDB
DYNAMODB_TABLE=burnnote
AWS_REGION=ap-northeast-1

# burnnote limits
BURNNOTE_MAX_CIPHERTEXT_BYTES=16384
BURNNOTE_MAX_EXPIRES_SEC=604800
